<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ToolConfig" type="CommonHelper.Helper.Config.ToolConfigMember, CommonHelper"/>
  </configSections>
  <ToolConfig
    Browser="Chrome"
    ExecutionType="Local"
    RootDownloadLocation="C:\Automation\Download\"
    RootUploadLocation="C:\Automation\Upload\"
    >
  </ToolConfig>
</configuration>